@forward '../../styles/globals/';
@use '../../styles/util/' as u1;


body {
    background-color: #0f100e !important;
    color: #00b8bc;
}
.AppMain {
    @include u1.block_display();

    .AppHero {
        display: flex;
        justify-content: space-around;
        margin: 150px 0 0 0;
        position: inherit;
        font-size: 300px;

        div {
            position: inherit;
        }
    }
}